footer {
    
    background-color: #EEEEEE;

}
footer table {
    
    margin: 0 auto;
    padding: 2.5vh;
    
    width: 100vmin;
    
    color: #888888;
    
}
footer table tr {
    
    text-align: center;
    
}
footer table td {
    
    display: inline-block;
    
    margin: 2vmin;
    
    text-align: left;
    vertical-align: top;
    
}